<div ng-controller="TestImageListController">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="tst in ImagesForTests">
                <td>{{tst.Title}}</td>
                <td>{{tst.description}}</td>
                <td><a href="#/details/{{tst.Id}}"><img ng-src="data:image/png;base64,{{tst.image}}" /></a></td> 
            </tr>
        </tbody>
    </table>
</div>
