<div ng-controller="TestImageListController">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Image</th>
                <th>View</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="tst in ImagesForTests">
                <td>{{tst.Title}}</td>
                <td>{{tst.description}}</td>
                <td><img ng-src="data:image/png;base64,{{tst.image}}" /></td>
                <td>
                    <a href="#/details/{{tst.Id}}" class="btn btn-default btn-sm">Details</a>
                </td>  
            </tr>
        </tbody>
    </table>
</div>
